[
  {
    "web-site-name": "bitbucket.org/product/enterprise",
    "config": {
      "keyword": "Bitbucket",
      "keyword_type": "not exist",
      "contact": ["slack"]
    }
  },
  {
    "web-site-name": "test.com",
    "config": {
      "contact": ["slack", "teams", "telegram"]
    }
  },
  {
    "web-site-name": "uptimerobot.com/terms",
    "config": {
      "keyword": "products",
      "keyword_type": "not exist",
      "contact": ["slack", "telegram"],
      "scheme": "https"
    }
  }
]